@font-face {
    font-family: "Calculator";
    src: url("./fonts/digital-7-mono-italic.ttf");
}

/* GENERAL */
* {
    box-sizing: border-box;
    border-width: 0;
    font-family: "Gill Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 500px;
    min-width: 500px;

    background-color: #dad1cc25;
}

.calculator {
    overflow: hidden;
    border-radius: 2% 2% 3% 3%;
    box-shadow: -10px 12px 60px 0px #4f4b3f50;
}

/* OUTSIDE DISPLAY */
.display-outer {
    background-color: #313630;
    padding: 30px 25px 15px;
}

.print {
    font-size: 18px;
    color: #e1e8ee;
    text-shadow: 0 0 4px #787f86;
    margin: 3px 0;

    display: flex;
    justify-content: space-between;
}

.print > div {
    padding: 2px 5px;
}

.display-inner {
    background-color: #d0ccc9;
    padding: 10px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.display-container {
    padding: 10px;
    padding-top: 20px;
    height: 85px;

    border-radius: 10px;
    background-color: #9f9981;

    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;

    position: relative;
}

/* DISPLAY */
.display, .trace {
    position: absolute;
    font-family: "Calculator";
    font-size: 90px;
}

.display {
    color: #191b16;
}

.trace {
    color: #191b1610;
}

.divider {
    height: 8px;
    background-color: #121411;
}

/* BUTTONS */
.buttons-panel {
    background-color: #86817bdd;
}

button {
    margin: 8px;
    border-radius: 10px;

    color: #e1e8ee;
    font-size: 35px;
    text-shadow: 0 0 6px #787f86;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: -2px 2px 6px 0px #4f4b3fa0;

    transition: all 0.07s;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px 3px #4f4b3fa0;
}

.left, .right {
    display: inline-grid;
    grid-template-rows: repeat(4, 70px);
    margin: 8px;
}

.left {
    grid-template-columns: repeat(3, 90px);
    margin-right: 0px;
}

.right {
    grid-template-columns: repeat(2, 90px);
}

/* BUTTON COLORS */
.left > button {
    background-color: #373833;
}

.right > button {
    background-color: #a5a8ad;
}

.right > button:nth-child(1), .right > button:nth-child(2) {
    background-color: #ffaa2b;
    color: #313630f0;
}