@font-face {
    font-family: "Calculator";
    src: url("./fonts/digital-7-mono-italic.ttf");
}

/* GENERAL */
* {
    box-sizing: border-box;
    border-width: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #dbd0ca10;
}

.calculator {
    overflow: hidden;
    
    border-radius: 1% 1% 3% 3%;
    box-shadow: -10px 12px 30px 0px #4f4b3f99;
}

/* DISPLAY */
.top {
    padding: 10px;
    padding-top: 20px;
    height: 100px;

    background-color: #9f9981;

    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.display, .numbers-trace {
    position: absolute;
    font-family: "Calculator";
    font-size: 100px;
}

.display {
    color: #191b16;
}

.numbers-trace {
    color: #191b1610;
}

/* BUTTONS */
.buttons {
    background-color: #86817bdd;
}

.left, .right {
    display: inline-grid;
    grid-template-rows: repeat(4, 70px);
    margin: 8px;
}

.left {
    grid-template-columns: repeat(3, 90px);
}

.right {
    grid-template-columns: repeat(2, 90px);
}

button {
    margin: 8px;

    border-radius: 10% 10% 15% 15%;

    color: #e1e8ee;
    font-size: 35px;
    font-family: "Gill Sans", sans-serif;
    text-shadow: 0 0 6px #787f86;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: -2px 2px 6px 0px #4f4b3fa0;

    transition: all 0.2s;
}

/* BUTTON COLORS */
.left > button {
    background-color: #373833;
}

.right > button {
    background-color: #6a737a;
}

.right > button:nth-child(1), .right > button:nth-child(2) {
    background-color: #ffaa2b;
    color: #313630f0;
}

/* BUTTON PRESSING */
button:active {
    margin: 12px;
}
